.w20 {
	width:20%;
	float: left;
}
.w25 {
	width:25%;
	float: left;
}

.w25 .tl_box,
.w25 .tl_select,
.w25 .tl_tbox,
.w25 .tl_select,
.w25 .tl_box,
.w25 .tl_mselect,
.w25 .tl_tbox,
.w25 .tl_mselect,
.w25 .tl_text {
	width: 193px;
}

.w25 .tl_text_unit {
    width: 98px;
}
